h1{
  margin:0 50px 50px 50px;
  padding-top: 100px;
  color:#fff;
  a{
    line-height: 42px;
    font-size: 16px;
    float:right;
    color:#bbb;
    &:link,&:visited{
      color: #bcd;
    }
  }
}
table{
  width:1100px;
  background:#555;
  border:1px solid #fff;
  color:#fff;
  margin:0 auto;
}
th,td{
  box-sizing: border-box;
  min-width: 60px;
  padding:5px;
  border:1px solid #fff;
  text-align: center;
  font-family: 微软雅黑;
}
tr{
  &:hover{
  }
}
tr:nth-child(odd){
  background:#777;
}
p{
  margin-top:10px;
}