doctype
html
    head
        meta(charset="utf-8")
        title 地理列表
        script(src="/public/js/jquery-3.3.1.min.js")
        link(href="/public/css/reset.css" rel="stylesheet")
        link(href="/public/css/common.css" rel="stylesheet")
        link(href="/public/css/geographylist.css" rel="stylesheet")
        link(href="/public/css/page-list-common.css" rel="stylesheet")
    body
        header
            div.header-returnIndex
                a.header-returnIndex-title(href="/") DNF资料站
                span.header-returnIndex-author made By HD(w-ww)
            if user
                ul.header-list
                    li.header-username 欢迎您，#{user.username}
                    li.header-logout
                        a(href="/logout") 登出
            else
                ul.header-list
                    li.header-login 登录
                    li.header-register 注册
        div.main-container
            div.page-list-title.clearfix
                h1 地理列表页
                if (user)
                    if (user.permission>=10)
                        a.addNew(href="/admin/uploadGeography") 添加新地理
                a.returnIndex(href="http://127.0.0.1:8081") 返回首页
            div.world-map
                img(src="/public/img/world/worldmap.png", width="800", height="600", alt="world", usemap="#worldmap")
                map(name="worldmap")
                    area(shape="rect", coords="150,365,800,600", alt="arad", href="http://127.0.0.1:8081/geography/阿拉德大陆")
                    area(shape="rect", coords="0,365,135,600", alt="arad", href="http://127.0.0.1:8081/geography/镜像阿拉德")
                    area(shape="rect", coords="0,145,800,320", alt="arad", href="http://127.0.0.1:8081/geography/天界")
                    area(shape="rect", coords="0,0,800,140", alt="arad", href="http://127.0.0.1:8081/geography/魔界")
            div.ps 注：图片可以点击哦
            table.list-table
                thead
                    tr
                        th(class="geographyList-name") 名字
                        th(class="geographyList-type") 类型
                tbody
                    each geography in result
                        tr(class="geography-id-"+geography.id)
                            td
                                a(href="http://127.0.0.1:8081/geography/#{geography.name}") #{geography.name}
                            td #{geography.type}
            span(id="inside")
        script(src="/public/js/backToPrev.js")
        script(src="/public/js/headerControl.js")

